* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}
@media screen and (min-width: 1024px) {
    html { font-size: 14px; }
}
@media screen and (min-width: 1280px) {
    html { font-size: 15px; }
}
@media screen and (min-width: 1440px) {
    html { font-size: 16px; }
}
@media screen and (min-width: 1600px) {
    html { font-size: 18px; }
}

body {
    background-color: #fbf5e7;
    color: #2a317d;
}

.section-product-details .side-one {
    position: sticky;
    top: 0;
}

/* products CSS */
.product-title {
    font-size: 2.5rem;
    font-weight: bold;
}
.product-description {
    font-size: 1.25rem;
}
.product-description span {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.2;
}
.product-description span:first-child {
    border-right: 2px solid #2a317d;
    padding-right: 8px;
    margin-right: 3px;
}
.product-details {
    font-size: 1.25rem;
}
.ratings {
    display: inline-block;
    position: relative;
}
.rating-stars-empty {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #f9c23c, #e07a5f);
}
.rating-stars {
    display: inline-block;
    width: 50%;
    white-space: nowrap;

    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #f9c23c, #e07a5f);
}

.choose-flavor-container .choose-flavor-title {
    font-size: 1.25rem;
}

.choose-flavor {
    position: relative;
    width: 25%;
    padding-top: 22.85%;
    background-color: #ccc;
    margin-right: 1rem;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
}
.choose-flavor:last-child {
    margin-right: 0;
}
.choose-flavor img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.choose-flavor.active {
    border: 2px solid #2a317d;
}

/* purchase details CSS */
.purchase-label {
    padding: 0.75rem 1rem;
    border-radius: 20px;
    border: 2px solid rgba(4,33,129,.2);
    cursor: pointer
}
.purchase-label-circle {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    border: 1px solid rgba(4,33,129,1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase-label-circle::after {
    content: "";
    width: 80%;
    height: 80%;
    background-color: transparent;
    border-radius: 100%;
}
.purchase-radio:checked + .purchase-label {
    border-color: rgba(4,33,129,1);
}
.purchase-radio:checked + .purchase-label .purchase-label-circle::after {
    background-color: #2a317d;
}

/* quantity counter CSS */
.qty-count-container {
    border-radius: 10px;
    border: 2px solid #2a317d;
    color: #2a317d;
}
.qty-count-container button {
    min-width: 40px;
    background: none;
    border: 0;
    font-size: 2rem;
    color: #2a317d;
}
.qty-count-container span {
    padding: 0rem 0.5rem;
}

#addToCartBtn {
    position: relative;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 10px;
    background: #e21b79;
    color: #fbf5e7;
    border: 0;
    font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden;
}
#addToCartBtn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 150%;
    width: 200%;
    height: 100%;
    transform: skew(-20deg);
    background-image: linear-gradient(90deg,transparent,hsla(0,0%,100%,.25),transparent);
}
#addToCartBtn:hover::after {
    animation: shine .75s cubic-bezier(.01,.56,1,1);
}

/* tabs CSS */
.custom-tabs .nav-item {
    width: 33.33%;
}
.custom-tabs .nav-item button {
    width: 100%;
    height: 100%;
    padding: 1rem 0.5rem;
    border-radius: 15px 15px 0 0;
    border: 0;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    background-color: none;
    color: #2a317d;
}
.custom-tabs .nav-item:nth-child(1) button,
.custom-tabs .nav-item:nth-child(1) button.active {
    background-color: #C3E8F1;
}
.custom-tabs .nav-item:nth-child(2) button,
.custom-tabs .nav-item:nth-child(2) button.active {
    background-color: #BCE194;
}
.custom-tabs .nav-item:nth-child(3) button,
.custom-tabs .nav-item:nth-child(3) button.active {
    background-color: #FDE282;
}

/* Benifit Box CSS */
.benifit-box {
    width: 33%;
    padding: 0 1.5rem;
}
.benifit-box .benifit-img {
    width: 100%;
    padding-top: 100%;
    /* border-radius: 100%; */
    position: relative;
    overflow: hidden;
}
.benifit-box .benifit-img img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.benifit-box .benifit-text {
    font-size: 1.25rem;
}

.tab-content.custom-tab-content {
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}
.tab-content.custom-tab-content .tab-pane:nth-child(1) {
    background-color: #C3E8F1;
}
.tab-content.custom-tab-content .tab-pane:nth-child(2) {
    background-color: #BCE194;
}
.tab-content.custom-tab-content .tab-pane:nth-child(3) {
    background-color: #FDE282;
}

/* neutrants list container */
.neutrants-list-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.neutrants-list-container li {
    border-bottom: 1px solid #2a317d;
    font-size: 1.125rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}
.neutrants-list-container li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* fotorama CSS Overwrite */
.custom-fotorama .fotorama__stage__frame {
    border-radius: 30px;
    border: 2px solid #2a317d;
}

.custom-fotorama .fotorama__nav-wrap {
    margin-top: 0.5rem;
}

.fotorama__nav-wrap .fotorama__nav--thumbs .fotorama__thumb,
.fotorama__nav-wrap .fotorama__thumb-border {
    border-radius: 30px;
    /* overflow: hidden; */
} 
.fotorama__nav-wrap .fotorama__thumb-border {
    border: 2px solid #2a317d;
}

.custom-fotorama .fotorama__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.custom-fotorama .fotorama__video-play{
    display: none;
}

#discountDD {
    border: 2px solid #2a317d;
    border-radius: 10px;
}

/* media queries */
@media only screen and (max-width: 450px) {
    .purchase-label-circle {
        height: 1.375rem;
    }
    .custom-tabs .nav-item button {
        font-size: 1rem;
    }
    .benifit-box {
        padding: 0 2rem;
    }
    .benifit-box .benifit-text {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 380px) {
    .custom-tabs .nav-item button {
        font-size: 0.875rem;
    }
    .benifit-box {
        padding: 0 1.5rem;
    }
    .benifit-box .benifit-text {
        font-size: 0.875rem;
    }
}

/* animation CSS */
@keyframes shine {
    100% {
        left: -200%;
    }
}